<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <link rel="stylesheet" href="decorate.css">
</head>

<body>
    <div id="app">
      <div style="background-image: url('images/stardewbackground.png');">
       
         
            <div class="container flex justify-center mx-auto">
                <div class="p-3 bg-white rounded-xl max-w-lg hover:shadow">
                    <div class="flex justify-between w-full"> <img v-bind:src="image" style="width: 250px; height:320px;"
                   class="rounded-lg">
                        <div class="ml-2">
                            <div class="p-3">
                                <h3 class="text-2xl">{{name}}</h3> <span>{{occupation}}</span>
                            </div>
                            <div class="flex justify-between items-center p-3 bg-gray-200 rounded-lg">
                                <div class="mr-3"> <span class="text-gray-400 block">Article</span> <span class="font-bold text-black text-xl">{{article}}</span> </div>
                                <div class="mr-3"> <span class="text-gray-400 block">Followers</span> <span class="font-bold text-black text-xl">{{followers}}</span> </div>
                                <div> <span class="text-gray-400 block">Ratings</span> <span class="font-bold text-black text-xl">{{ratings}}</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between items-center mt-2 gap-2"> <button class="w-full h-12 rounded-md border-2 text-md hover:shadow hover:bg-red-700 hover:border-red-700 hover:text-white ">Chat</button> <button class="w-full h-12 rounded-md bg-blue-700 text-white text-md hover:shadow hover:bg-blue-800">Chat</button> </div>
                </div>
            </div>
        </div> 
      <form @submit.prevent="checkForm">
        <div class="wrapper bg-white mt-sm-5"> 
         
          <h1 class="text-2xl pt-4 pb-4">Registration Form</h1>
       
            <div class="d-flex align-items-start border-bottom"> 
            </div>
            <div class="py-2">
                <div class="row py-2">
                    <div class="col-md-6"> 
                      <label for="firstname">First Name</label> 
                      <input type="text" id="firstname" v-model="firstname" name="firstname" class="bg-gray-100 m-5 form-control " placeholder="input firstname"> </div>
                    <div class="col-md-6 pt-md-0 pt-3"> 
                      <label for="lastname">Last Name</label>
                       <input type="text" id="lastname" v-model="lastname" name="lastname"type="text" class="bg-gray-100 m-5 form-control" placeholder="input lastname"> </div>
                </div>

          <div class="flex flex-col">
            <label for="age" class="text-sm leading-7 text-gray-600">Age</label>
            <input type="text" id="age" v-model="age" name="age" class="bg-gray-100 m-5 form-control">
        </div>
        
        <div class="flex flex-col">
          <label class="text-sm leading-7 text-gray-600">Gender</label>
          <div class="flex flex-row pt-2 space-x-2">
              <input type="radio" id="Male" v-model="gender" name="gender" value="M" class="bg-gray-100 rounded px-4 py-2 mb-4">
              <label for="Male">Male</label>
              <input type="radio" id="Female" v-model="gender" name="gender" value="F" class="bg-gray-100 rounded px-4 py-2 mb-4">
              <label for="Female">Female</label>
          </div>
      </div>

          <div class="row py-2">
              <div class="col-md-6"> <label for="email">Email Address</label>
                <input type="text" id="email" v-model="email" name="email"  class="bg-light form-control" placeholder="inputemail@email.com"> </div>
              <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label> <input  id="phone" v-model="phone" name="phone" type="tel" class="bg-light form-control" placeholder="input telnumber"> </div>
          </div>
          
          <div class="row py-2">
              <div class="col-md-6"> 
                <label for="country">Country</label> 
                <select v-model="countries" name="countries" id="countries" class="bg-light">
                  <option v-for="country in country_lists" :value="country.country_id">
                    {{country.country_name}}
                </option>
            
                  </select>
                 </div>

              <div class="col-md-6 pt-md-0 pt-3" id="lang"> <label for="language">Language</label>
                  <div class="arrow"> 
                    <select v-model="language" name="language" id="language" class="bg-light">
                          <option value="english" selected>English</option>
                          <option value="english_us">English (United States)</option>
                          <option value="enguk">English UK</option>
                          <option value="arab">Arabic</option>
                      </select> </div>
              </div>
          </div>
          <div >
            <input v-on:click="checkForm()" type="submit" value="Submit" class="px-8 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
        </div>
        <p v-if="errors" class="text-red-500">
          <b>Please correct the following error(s):</b>
          <ul>
             <li v-for="error in errors" class="text-red-500">{{ error }} ( ິ•ᆺ⃘• )ິ✧</li> 
          </ul>
      </p> 
          </div>
      </div>
     </form>
  </div>
  
   

  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>